---
import ModLayout from '../layouts/ModLayout.astro';
import DownloadButton from '../components/DownloadButton.astro';

const title = "FNF VS Garcello V-Slice Port";
const seoTitle = "FNF VS Garcello V-Slice Port - FNF Mobile [Android & iOS]";
const description = "Download FNF VS Garcello V-Slice Port for Android & iOS [v1.5 Full Week]";
---

<ModLayout title={title} seoTitle={seoTitle} description={description}>
  <p class="text-center"><strong>Download FNF VS Garcello V-Slice Port</strong> for Android & iOS [v1.5 Full Week]</p>

  <img class="aligncenter" src="/images/vs-garcello-v-slice-v-slice.webp" alt="VS Garcello V-Slice" width="450" height="253">

  <p><strong>Smoke 'Em Out Struggle</strong>, also known as <strong>FNF Vs Garcello</strong>, is one of the most beloved MODs by the Friday Night Funkin' community. Thanks to the port developed by Greeny3483, we can now enjoy this fantastic MOD from the official version of FNF Mobile. As always, you just have to drop the port's file folder into the FNF Mobile MODs folder.</p>

  <p>This <strong>FNF VS Garcello V-Slice Port</strong> includes all the songs from the first version of the MOD, as well as all the content from the Hazy River update (in other words, it includes everything!). It's one of those well-made ports that allow us to truly enjoy all the content of the original MOD (although obviously some bugs can be found).</p>

  <p>If you haven't tried it yet, we can assure you that <strong>FNF Vs Garcello</strong> is one of those MODs that everyone should try, as it is of very high quality.</p>

  <div class="download-buttons">
    <DownloadButton url="https://drive.google.com/file/d/1ut-YG-cn0VZ_mjbk8aPB1zLlhlC8ZEhj/view?usp=sharing" label="Download [Option 1]" />
    <DownloadButton url="https://mega.nz/file/WURXXIAS#62dMyigo6ruo-M0UKWtsy9L2yjJmo8kJXc-nDbA26pw" label="Download [Option 2]" />
  </div>
</ModLayout>
