---
import ModLayout from '../layouts/ModLayout.astro';
import DownloadButton from '../components/DownloadButton.astro';

const title = "FNF VS Huggy Wuggy V-Slice Port";
const seoTitle = "FNF VS Huggy Wuggy V-Slice Port - FNF Mobile [Android & iOS]";
const description = "Download FNF VS Huggy Wuggy V-Slice Port for Android & iOS [v1 Full Week]";
---

<ModLayout title={title} seoTitle={seoTitle} description={description}>
  <p class="text-center"><strong>Download FNF VS Huggy Wuggy V-Slice Port</strong> for Android & iOS [v1 Full Week]</p>

  <img class="aligncenter" fetchpriority="high" src="/images/vs-huggy-wuggy-v-slice.webp" alt="VS Huggy Wuggy V-Slice" width="450" height="253">

  <p>In <strong>FNF VS Huggy Wuggy</strong>, we will face one of the characters from Poppy Playtime in a new song included in a new week. It is a MOD for Friday Night Funkin' that, despite having very little content compared to many others, became very popular in its day.</p>

  <p>Now we can enjoy it from FNF Mobile thanks to the <strong>V-Slice port</strong>, which we can easily install in the "MODs" folder of the original game. Being a MOD with so little content, its files only weigh 15MB, which makes it a very good option for those who don't have much space available on their Android or iOS devices.</p>

  <div class="download-buttons">
    <DownloadButton url="https://drive.google.com/file/d/1tVwtvL56KnpAnMjytLEFUdkUqXB4uyF_/view?usp=sharing" label="Download [Option 1]" />
    <DownloadButton url="https://mega.nz/file/zZA0lBzZ#2xiKqQeGRpZNoM9sTRBvqmfZQVhn4AhLAOhxCdwgmOA" label="Download [Option 2]" />
  </div>

  <p>Although this is the original MOD, the Huggy Wuggy character and the <strong>Poppy Playtime</strong> saga have other relevant MODs, which we will be looking to bring in their V-Slice/APK format.</p>
</ModLayout>
