---
import ModLayout from '../layouts/ModLayout.astro';
import DownloadButton from '../components/DownloadButton.astro';

const title = "FNF VS Sarvente's Mid-Fight Masses V-Slice Port";
const seoTitle = "FNF VS Mid-Fight Masses V-Slice Port - FNF Mobile";
const description = "Download FNF VS Sarvente's Mid-Fight Masses V-Slice Port for Android & iOS [v1.5 Full Week]";
---

<ModLayout title={title} seoTitle={seoTitle} description={description}>
  <p class="text-center"><strong>Download FNF VS Sarvente's Mid-Fight Masses V-Slice Port</strong> for Android & iOS [v1.5 Full Week]</p>

  <img class="aligncenter" src="/images/mid-fight-masses-v-slice-v-slice.webp" alt="Sarvente's mid-fight masses v-slice" width="450" height="253">

  <p><strong>Sarvente's Mid-Fight Masses</strong> has been and always will be one of the most iconic MODs in the history of Friday Night Funkin'. Luckily for Android and iOS users, a V-Slice Port has appeared that allows us to enjoy this MOD from the new official version of FNF Mobile.</p>

  <p>Keep in mind that this <strong>Mobile Port of Mid-Fight Masses</strong> is not perfectly developed and has some bugs that several users have complained about. Unfortunately, it is the only option we have in this format (although we have included the full version of the MOD in APK format below).</p>

  <p>In <strong>FNF Sarvente's Mid-Fight Masses</strong>, we can enjoy a total of three different opponents: Sarvente, Ruv, and Selever, whom we will have to defeat in different songs. Although the original MOD was removed by its creators, the community has managed to keep it alive on PC, Android, and iOS.</p>

  <div class="download-buttons">
    <DownloadButton url="https://drive.google.com/file/d/1K-H3RA9pn330sWKuJk_w7wMfyWUIjWt1/view?usp=sharing" label="Download [Option 1]" />
    <DownloadButton url="https://mega.nz/file/PEZkjZBK#AtSjIzgJL66Xi52INmWDwYUvmEmTMGdCHhLnHJ6GK4c" label="Download [Option 2]" />
  </div>

  <h3>Download FNF Mid-Fight Masses Deluxe Edition APK [Android]</h3>
  <p>As an alternative to the V-Slice Port version, below is a link to the APK version for Android of the <strong>Deluxe Edition of Mid-Fight Masses</strong>. It works independently of the original game, as a separate application, but includes all the songs and dialogues from the original Deluxe Edition (i.e., the latest full release of the MOD). This version contains more than 20 songs and, in this case, is a much better option than the V-Slice Port, at least for now (until someone decides to port the entire MOD).</p>

  <div class="download-buttons">
    <DownloadButton url="https://www.mediafire.com/file/pa87vwwi584ocv6/MFM+Deluxe+Edition+Optimizado+32+y+64+Bits.rar/file" label="Download MFM Deluxe Edition APK" />
  </div>
</ModLayout>
