---
import ModLayout from '../layouts/ModLayout.astro';
import DownloadButton from '../components/DownloadButton.astro';

const title = "FNF Doki Doki Takeover Plus V-Slice Port";
const seoTitle = "FNF Doki Doki Takeover V-Slice Port - FNF Mobile";
const description = "Download FNF Doki Doki Takeover Plus V-Slice Port for Android & iOS";
---

<ModLayout title={title} seoTitle={seoTitle} description={description}>
  <p><strong>Download FNF Doki Doki Takeover Plus V-Slice Port</strong> for Android & iOS</p>

  <img class="aligncenter" fetchpriority="high" src="/images/doki-doki-takeover-vslice-v-slice.webp" alt="Doki Doki Takeover V-Slice" width="450" height="253">

  <p><strong>Doki Doki Takeover Plus</strong>, formerly known as FNF VS Monika, is one of the most spectacular and comprehensive MODs in the history of gaming. It is undoubtedly one of the MODs with the most content, featuring around 30 brand new songs and multiple characters, all inspired by Doki Doki Literature Club. In addition, this improved version of FNF VS Monika has many additional details, such as cutscenes and Easter eggs.</p>

  <p>Thanks to the new <strong>Doki Doki Takeover V-Slice Port</strong>, we can now enjoy this work of art directly from the official version of FNF Mobile for Android and iOS. While it's true that it doesn't include absolutely all of the MOD's content (such as cutscenes and dialogues), this Port includes a total of 25 songs (i.e., almost all of the original MOD). Installing this Port requires the same process as any other V-Slice.</p>

  <div class="download-buttons">
    <DownloadButton url="https://drive.google.com/file/d/1GPr97HRIo4_dSGLHTmDuLxFMHB--ZxVx/view?usp=sharing" label="Download [Option 1]" />
    <DownloadButton url="https://mega.nz/file/qYxE0BTb#s0xqe-L9T6sWH6D9pv_mbdAvUXtqgzVeOKmqLrj95NQ" label="Download [Option 2]" />
  </div>

  <h3>Download Doki Doki Takeover Plus APK [Android]</h3>
  <p>If you prefer to enjoy the full MOD in APK format (i.e., with its own individual application), we also offer this port for Android. However, keep in mind that it is not optimized for low-end devices and is a MOD that contains a lot of content (weighing in at 1.7GB), so you will need a good device to be able to play it normally.</p>

  <div class="download-buttons">
    <DownloadButton url="https://www.mediafire.com/file/qhoffvd8ca35d0u/Doki_Doki_Takeover_Plus_%26_Bad_Ending.apk/file" label="Download APK" />
  </div>
</ModLayout>
