---
import ModLayout from '../layouts/ModLayout.astro';
import DownloadButton from '../components/DownloadButton.astro';

const title = "FNF Indie Cross V-Slice Port";
const seoTitle = "FNF Indie Cross V-Slice Port - FNF Mobile [Android & iOS]";
const description = "Download FNF Indie Cross V-Slice Port for Android & iOS";
---

<ModLayout title={title} seoTitle={seoTitle} description={description}>
  <p><strong>Download FNF Indie Cross V-Slice Port</strong> for Android & iOS</p>

  <img class="aligncenter" src="/images/indie-cross-vlice-v-slice.webp" alt="FNF Indie Cross V-Slice" width="450" height="252">

  <p><strong>FNF Indie Cross</strong> is one of the most highly rated and popular MODs in the history of Friday Night Funkin' (for some players, the best MOD ever). Thanks to the new V-Slice Port, we can now enjoy this release directly from our Android or iOS device (using the official FNF Mobile app). The port contains all (or most) of the content from the original MOD, making it one of the best ports currently available.</p>

  <p>In <strong>FNF Indie Cross V-Slice Port</strong>, we will face <strong>Sans, Cuphead, and Bendy</strong> across more than 10 different songs. The MOD has a total of more than 1 hour of content, including animations/cinematics, dialogues, and other additional details. Overall, it is one of the most recommended MODs, which no FNF fan should miss.</p>

  <p>As an interesting detail, it is worth noting that the original MOD team is working on the V2 update after 3 years without new content. The truth is that it looks like it is going to be a spectacular release when it is finished. In the meantime, we will have to "settle" for V1.</p>

  <div class="download-buttons">
    <DownloadButton url="https://drive.google.com/file/d/1YQWUyxyfD53BbvBvfEOWk2hD84s_kEQZ/view?usp=sharing" label="Download [Option 1]" />
    <DownloadButton url="https://mega.nz/file/3NQ2xRjT#_j_dYKUmFXWFFmImecR06I6H-wMe2mQbUA1cWiSFNlo" label="Download [Option 2]" />
  </div>

  <h3>Download FNF Indie Cross APK [Android]</h3>
  <p>As an alternative to the V-Slice version, we also offer <strong>FNF Indie Cross APK</strong>, which allows you to play all the MOD content directly without having to install anything (download and play directly). Choose the option that suits you best (high-end or low-end).</p>

  <div class="download-buttons">
    <DownloadButton url="https://www.mediafire.com/file/goutkuqi2pqzqty/Indie+Cross+Optimized+By+Felix+FX.apk/file?dkey=owp5ye611dc&r=1656" label="Download APK (High-End)" />
    <DownloadButton url="https://www.mediafire.com/file/2dd4zmumzyaqg5z/INDIE_CROSS_OPT.apk/file" label="Download APK (Low-End)" />
  </div>
</ModLayout>
