---
import ModLayout from '../layouts/ModLayout.astro';
import DownloadButton from '../components/DownloadButton.astro';

const title = "FNF VS Whitty V-Slice Port";
const seoTitle = "FNF VS Whitty V-Slice Port - Download [FNF MOBILE]";
const description = "Download Friday Night Funkin' VS Whitty V-Slice Port for Android & iOS [Definitive Edition]";
---

<ModLayout title={title} seoTitle={seoTitle} description={description}>
  <p class="text-center"><strong>Download Friday Night Funkin' VS Whitty V-Slice Port</strong> for <strong>Android & iOS</strong> [Definitive Edition]</p>

  <img class="aligncenter" src="/images/whitty-v-slice.webp" alt="Whitty V-Slice" width="450" height="253">

  <p><strong>FNF VS Whitty</strong> is one of the most famous and legendary MODs in the entire history of Friday Night Funkin'. As one of the first major MODs to appear, and thanks to its subsequent updates, it is one of the most downloaded MODs over the last 4 years.</p>

  <p>With <strong>VS Whitty V-Slice Port</strong>, you can enjoy this famous MOD directly from the official version of FNF Mobile, as it is specifically adapted for it. The installation is identical to that of any other MOD in V Slice format.</p>

  <div class="download-buttons">
    <DownloadButton url="https://drive.google.com/file/d/1AUVngE_7sxUTNt4j0wz02ohO-aQJaJrT/view?usp=sharing" label="Download [Option 1]" />
    <DownloadButton url="https://mega.nz/file/KAZjFSAL#FZeT-PK_Z6fzaqPs_SiEAo0KOfymRKOVBYAQgePqP58" label="Download [Option 2]" />
  </div>

  <p>The latest official version of <strong>FNF Vs Whitty</strong> includes a total of 7 new songs for the game, accompanied by several cutscenes and other details that give the MOD a high quality (such as the new "game over" animations). Without a doubt, it is one of those MODs that every fan of the game should play at least once in their life.</p>
</ModLayout>
