---
import ModLayout from '../layouts/ModLayout.astro';
import DownloadButton from '../components/DownloadButton.astro';

const title = "FNF VS Matt V-Slice Port";
const seoTitle = "FNF VS Matt V-Slice Port (V3) - FNF Mobile [Android & iOS]";
const description = "Download FNF VS Matt V-Slice Port for Android & iOS [v1.5 Full Week]";
---

<ModLayout title={title} seoTitle={seoTitle} description={description}>
  <p><strong>Download FNF VS Matt V-Slice Port</strong> for Android & iOS [v1.5 Full Week]</p>

  <img class="aligncenter" src="/images/vs-matt-v-slice.webp" alt="FNF VS Matt V-Slice" width="450" height="253">

  <p><strong>FNF VS Matt</strong> is one of the most difficult MODs in all of Friday Night Funkin', as well as one of the most content-rich (5 full weeks + some extra songs). Now we can enjoy <strong>weeks 1 to 3</strong> (out of a total of 5) thanks to the V-Slice Port created by Sanic9999.</p>

  <div class="download-buttons">
    <DownloadButton url="https://drive.google.com/file/d/1oX--HqDpwoawXS4HKCIk6ICMiiaz4hJI/view?usp=sharing" label="Download [Option 1]" />
    <DownloadButton url="https://mega.nz/file/jdJE1ZxI#IhWIRveZAzNSFJeN9eXFU-l2pZxB-npKuyvqNzktIbI" label="Download [Option 2]" />
  </div>

  <p><strong>FNF VS Matt V3</strong> was released a few months ago after almost 4 years without any updates to the MOD. It is the latest official version of the original MOD, and one of the biggest releases (updates) of the last year within the community. The MOD contains a total of five weeks (more than two hours of content in total), in which we will face different enemies in addition to <strong>Matt: Shaggy, Wii Fit Trainer, Eteled, Miis, and Nikki</strong> (and a few more surprises). If you want to play FNF VS Matt V3 on Android, including all its content, you can opt for the APK version port created by Juann, which we have provided below.</p>

  <h3 class="text-center">Download FNF VS Matt V3 APK (Update)</h3>

  <div class="download-buttons">
    <DownloadButton url="https://www.mediafire.com/file/o34gfqzac9ewa5m/%2528BenSKR%2529_Wii_Funkin_V3_Update_Psych_Engine_Port_Optimizado.zip/file" label="Download MOD Files (V3)" />
    <DownloadButton url="https://www.mediafire.com/file/z8jipby18xrol05/Psych+Engine+Optimizado++Elementos+(Android).zip/file" label="Download Psych Engine 1.0.4 (Base Game)" />
  </div>

  <p>(Please note that <strong>this MOD is designed to be played on Psych Engine 1.0.4</strong>, and does not work on its own. You will need to download both files and install the MOD on the Psych Engine base game. The installation is very similar to that of the original game: you just need to place the MOD file folder inside the "MODs" folder in Psych Engine).</p>
</ModLayout>
