---
import ModLayout from '../layouts/ModLayout.astro';
import DownloadButton from '../components/DownloadButton.astro';

const title = "FNF VS Hex V-Slice Port";
const seoTitle = "FNF VS Hex V-Slice Port - FNF Mobile [Android & iOS]";
const description = "Download FNF VS Hex V-Slice Port for Android & iOS [v1.5 Full Week]";
---

<ModLayout title={title} seoTitle={seoTitle} description={description}>
  <p class="text-center"><strong>Download FNF VS Hex V-Slice Port</strong> for Android & iOS [v1.5 Full Week]</p>

  <img class="aligncenter" src="/images/vs-hex-v-slice-v-slice.webp" alt="VS Hex V-Slice" width="450" height="253">

  <p><strong>Friday Night Funkin' VS Hex</strong> is undoubtedly one of the most popular MODs in history, as well as being one of the first major MODs to be released. Thanks to the <strong>V-Slice Port</strong> adapted by MCO7, Comedy Lost, and Mayo78, we can now enjoy V1 of this fantastic MOD from the official version of FNF Mobile for Android and iOS. It's as simple as dropping the MOD files into the "MODs" folder of the original game.</p>

  <p>The only downside to this port is that it only includes the content from V1 of the MOD. Hopefully, in the near future, someone from the community will adapt the <strong>VS Hex The Weekend Update</strong> version to the <strong>V-Slice</strong> format, as it contains much more content and is really the definitive version of this great MOD. In the meantime, we'll have to settle for facing this charismatic robot in the songs included in its first original release.</p>

  <div class="download-buttons">
    <DownloadButton url="https://drive.google.com/file/d/1zily1iMIOz4RirebpZNZhDJTzzbDATlM/view?usp=sharing" label="Download [Option 1]" />
    <DownloadButton url="https://mega.nz/file/yUB1WRxI#h6XTmoo2o7Gr04G9tDGo_Yt7PQ6sxucFH0HuoLNQmZ0" label="Download [Option 2]" />
  </div>

  <p>At V-Slice.com, we will be on the lookout for the release of VS Hex The Weekend V-Slice Port so that we can update the download links as soon as someone decides to give us mobile users this great gift. In the meantime, here is a link to an old port of this version of the MOD, which allows you to play it independently in an unofficial version of the mobile version of FNF (which is quite old, but it works).</p>

  <h3 class="text-center">Download VS Hex The Weekend APK Standalone (No V-Slice)</h3>

  <div class="download-buttons">
    <DownloadButton url="https://www.mediafire.com/file/qy5kwes5yyw7s3x/Vs_Hex_Weekend_Update.apk/file" label="Download HighEnd" />
    <DownloadButton url="https://www.mediafire.com/file/d45v9i31ml7vcub/gen_signed.apk/file" label="Download Mid End" />
    <DownloadButton url="https://www.mediafire.com/download/y8k4s67xbl573se" label="Download Low End" />
  </div>
</ModLayout>
