---
import ModLayout from '../layouts/ModLayout.astro';
import DownloadButton from '../components/DownloadButton.astro';

const title = "FNF VS Accelerant Hank V-Slice Port";
const seoTitle = "FNF VS Accelerant Hank V-Slice Port - FNF Mobile";
const description = "Download FNF VS Accelerant Hank V-Slice Port for Android & iOS";
---

<ModLayout title={title} seoTitle={seoTitle} description={description}>
  <p><strong>Download FNF VS Accelerant Hank V-Slice Port</strong> for Android & iOS</p>

  <img class="aligncenter" src="/images/accelerant-hank-v-slice.webp" alt="VS Accelerant Hank V-Slice" width="450" height="253">

  <p><strong>FNF VS Accelerant Hank</strong> is a MOD that, despite having little content (2 songs), has been one of the most popular since the game's release. In this FNF MOD, we will face Accelerant Hank, a character taken from Madness Combat, as well as encountering some complementary characters (such as Tricky).</p>

  <p>Being such a "simple" MOD in terms of content, the V-Slice port file weighs less than 50MB, making it one of the lightest MODs to enjoy on Android or iOS (although you should keep in mind that several iOS users have complained about various bugs). It's as simple as placing the MOD files in the FNF Mobile MODs folder to be able to play all the content of this MOD from the official game.</p>

  <div class="download-buttons">
    <DownloadButton url="https://drive.google.com/file/d/1Z7n7FNUmpouZVQlETuwJz9qcRI-lA8_X/view?usp=sharing" label="Download [Option 1]" />
    <DownloadButton url="https://mega.nz/file/XEQUWDhT#vC6siemA3RWTRBxfkKwHo7KFOPYITGFzT-MP8PVmOPg" label="Download [Option 2]" />
  </div>

  <h3>Download FNF VS Accelerant Hank APK</h3>
  <p>For those who prefer to simply download an APK that can be played directly without installing anything, we provide this port in APK format, which is ready for low-end Android devices.</p>

  <div class="download-buttons">
    <DownloadButton url="https://www.mediafire.com/file/5jmfwbol7hcignh/AccHank-debug_OPT_Jere_y_jairoVM12.apk/file" label="Download APK" />
  </div>
</ModLayout>
