---
import ModLayout from '../layouts/ModLayout.astro';
import DownloadButton from '../components/DownloadButton.astro';

const title = "FNF VS Tricky V-Slice Port";
const seoTitle = "FNF VS Tricky V-Slice Port - FNF Mobile [Android & iOS]";
const description = "Download FNF VS Tricky V-Slice Port for Android & iOS [v1.5 Full Week]";
---

<ModLayout title={title} seoTitle={seoTitle} description={description}>
  <p><strong>Download FNF VS Tricky V-Slice Port</strong> for Android & iOS [v1.5 Full Week]</p>

  <img class="aligncenter" fetchpriority="high" src="/images/vs-tricky-vslice-v-slice.webp" alt="VS Tricky V-Slice" width="450" height="253">

  <p>The <strong>Full Ass Tricky MOD</strong> is undoubtedly one of the most popular releases in the history of Friday Night Funkin'. So much so that it is a MOD that over the last few years has received dozens of fan-made remixes and re-releases (i.e., not created by the original author). Now, thanks to thisiscub, pursnake, and leo, we can enjoy this fantastic <strong>V-Slice Port for FNF Mobile</strong>.</p>

  <p>This version of The <strong>Full Ass Tricky V-Slice Port</strong> includes the four songs from the original MOD (Improbable Outset, Madness, Hellclown, and Expurgation), as well as all the mechanics, cinematics, and characters. Therefore, this port offers us practically the same experience as the original MOD for PC, which is much appreciated.</p>

  <div class="download-buttons">
    <DownloadButton url="https://drive.google.com/file/d/16BQ5k6D7AuM0L4CIL0Ry1ejYPMCaeuRN/view?usp=sharing" label="Download [Option 1]" />
    <DownloadButton url="https://mega.nz/file/uRZzgYSB#96dQhHU55hkTZ4BaVr5GFb3452-bI1OSpt4Pm-WUkaw" label="Download [Option 2]" />
  </div>

  <p>Remember that to enjoy this MOD in the original version of FNF Mobile, all you have to do is place the downloaded folder inside the MODs folder of the original game (if this folder does not exist, you will have to create it).</p>
</ModLayout>
