---
import ModLayout from '../layouts/ModLayout.astro';
import DownloadButton from '../components/DownloadButton.astro';

const title = "FNF VS Nonsense V-Slice Port v1.5";
const seoTitle = "FNF VS Nonsense V-Slice Port | Download [FNF MOBILE]";
const description = "Download FNF VS Nonsense V-Slice Port for Android & iOS [v1.5 Full Week]";
---

<ModLayout title={title} seoTitle={seoTitle} description={description}>
  <p class="text-center"><strong>Download FNF VS Nonsense V-Slice Port</strong> for Android & iOS [v1.5 Full Week]</p>

  <img class="aligncenter" src="/images/nonsense-v-slice-v-slice.webp" alt="FNF VS Nonsense" width="450" height="253">

  <p><strong>Friday Night Funkin' VS Nonsense v1.5</strong> is now available for the official version of <strong>FNF Mobile</strong> thanks to the V Slice Port created by the MOD's creator (NonsenseNH). With this mobile version, you can easily install the MOD on Android or iOS. All you have to do is place the MOD files in the corresponding folder within your FNF Mobile installation.</p>

  <div class="download-buttons">
    <DownloadButton url="https://drive.google.com/file/d/1NVzejEuYHDWuimtN6R7-sfSWS_zZYzTt/view?usp=sharing" label="Download [Option 1]" />
    <DownloadButton url="https://mega.nz/file/iAAxGI6A#86BZHoAiA9IXl5bIqc6MTG7mlBPGrbkGE1Z6xsZrWVI" label="Download [Option 2]" />
  </div>

  <p><strong>FNF VS Nonsense 1.5</strong> is an update released in celebration of the MOD's fourth anniversary, which includes numerous improvements to the original MOD that has been so popular with the community. It includes a total of 5 songs, numerous cutscenes, different endings, and a few additional details. All these details added after the last update give a breath of fresh air to a MOD that was already highly recommended.</p>

  <p>It should be noted that in this rework (created by the original developer), all the game's sprites have been revamped. One of the most interesting details is the "<strong>skill detection</strong>" system incorporated into the MOD itself, which will adapt depending on how well you are playing the different songs. The creator himself describes this update as "Fresh new look, same old experience."</p>
</ModLayout>
