---
import ModLayout from '../layouts/ModLayout.astro';
import DownloadButton from '../components/DownloadButton.astro';

const title = "FNF VS Silly Billy V-Slice Port [Hit Single]";
const seoTitle = "FNF VS Silly Billy V-Slice Port - FNF Mobile [Android & iOS]";
const description = "Download FNF VS Silly Billy V-Slice Port for Android & iOS [v1 Full Week]";
---

<ModLayout title={title} seoTitle={seoTitle} description={description}>
  <p class="text-center"><strong>Download FNF VS Silly Billy V-Slice Port</strong> for Android & iOS [v1 Full Week]</p>

  <img class="aligncenter" src="/images/silly-billy-v-slice.webp" alt="FNF Silly Billy V-Slice" width="450" height="253">

  <p><strong>FNF VS Silly Billy</strong>, also known as <strong>VS Yourself</strong>, is a fairly popular release within the Friday Night Funkin' MOD community. In this BF MOD, you will face an alternate version of yourself, which appears when you look in the mirror. It is not a MOD that stands out particularly for its amount of content, as it officially only has one song and several cutscenes. However, in the freeplay menu, it has four additional songs, all of them with quite peculiar details (the last one is the most innovative in my opinion).</p>

  <p>Below, we leave you with <strong>VS Silly Billy V-Slice Port</strong>, with which you can install the content of this MOD in the original game for Android or iOS. The port is not 100% perfect and has some bugs, but it includes all the content of the original MOD. Remember that to play it, you will have to put it in the "MODs" folder of FNF Mobile.</p>

  <div class="download-buttons">
    <DownloadButton url="https://drive.google.com/file/d/1tGs6nJ3kgBP2QfZS8uypsv6qQ1hqioU1/view?usp=sharing" label="Download Low Quality [Option 1]" />
    <DownloadButton url="https://mega.nz/file/bUgylZiQ#s3blXD2C7B0UCP60_YBip37tM_FcaY7tbpXVqK72Ix8" label="Download Low Quality [Option 2]" />
  </div>

  <p>We also provide you with <strong>FNF VS Silly Billy APK for Android</strong> in case you find this option more convenient, as you won't have to install anything. It's as simple as downloading and playing.</p>

  <div class="download-buttons">
    <DownloadButton url="https://www.mediafire.com/file/i4ff1wnfcgmdx48/VS+Yourself-debug.apk/file" label="Download APK" />
  </div>
</ModLayout>
