---
import ModLayout from '../layouts/ModLayout.astro';
import DownloadButton from '../components/DownloadButton.astro';

const title = "FNF VS Sonic.EXE V-Slice Port";
const seoTitle = "FNF VS Sonic.EXE V-Slice Port - FNF Mobile [Android & iOS]";
const description = "Download FNF VS Sonic.EXE V-Slice Port for Android & iOS [v1.5 Full Week]";
---

<ModLayout title={title} seoTitle={seoTitle} description={description}>
  <p><strong>Download FNF VS Sonic.EXE V-Slice Port</strong> for Android & iOS [v1.5 Full Week]</p>

  <img class="aligncenter" src="/images/vs-sonic-exe-vslice-v-slice.webp" alt="Vs Sonic Exe V-Slice" width="450" height="253">

  <p><strong>FNF VS Sonic.EXE</strong> is the most popular MOD of all the .EXE files that have appeared in Friday Night Funkin' (and probably also the precursor to this trend). It is one of the most complete and famous MODs in the history of the game and now, thanks to the ports by El Rivera and ChamuXtreme, we can enjoy it on Android and iOS very easily (using the official FNF Mobile game as a base).</p>

  <p>In this <strong>V-Slice Port of FNF VS Sonic EXE</strong>, you'll find more than 15 songs from the original MOD, including their respective cutscenes (you'll have to play in story mode to see them, of course). The difference between the two ports we bring you is that one is completely optimized for low-end devices (weighing less than 200MB), while the other is in original quality (weighing about 800MB).</p>

  <p>Download the one that interests you most and enjoy one of the best MODs in history from your Android or iOS device. Remember that to use them, you'll have to place the entire folder of files you've downloaded into the "MODs" folder of the original game.</p>

  <div class="download-buttons">
    <DownloadButton url="https://drive.google.com/file/d/1YN7150VDqWpL6qkBqTzB2O6zJLH-i7gC/view?usp=sharing" label="Download High End [Option 1]" />
    <DownloadButton url="https://mega.nz/file/mBByRbpJ#bKMDQ_Q-YGPmqlsKLBNxTVguhw99UCm9Yil2mcAM7Ck" label="Download High End [Option 2]" />
  </div>

  <div class="download-buttons">
    <DownloadButton url="https://www.mediafire.com/file/f79pq53rhrqozup/%255Bsonic_exe_%255D_OPT_BY_NOCTROX_GATO.zip/file" label="Download Low End [Option 1]" />
  </div>

  <h3>Download FNF Vs Sonic.EXE APK V2.0 (Android)</h3>
  <p>If you prefer a standalone APK that you can simply download and play, we also offer a port in APK format of version v2.0 of the original MOD. It includes all content and is optimized for low-end devices.</p>

  <div class="download-buttons">
    <DownloadButton url="https://www.mediafire.com/file/oigxfl3mjk3iiwi/Sonic.EXE_2.0_Optimized_.apk/file" label="Download APK [Low End]" />
    <DownloadButton url="https://www.mediafire.com/file/4oj23forik0evhj/Sonic-debug.apk/file" label="Download APK [High End]" />
  </div>
</ModLayout>
