---
import ModLayout from '../layouts/ModLayout.astro';
import DownloadButton from '../components/DownloadButton.astro';

const title = "FNF NEO V-Slice Port (3.0)";
const seoTitle = "FNF NEO V-Slice Port - FNF Mobile [Android & iOS]";
const description = "Download FNF NEO V-Slice Port for Android & iOS [V3.0]";
---

<ModLayout title={title} seoTitle={seoTitle} description={description}>
  <p class="text-center"><strong>Download FNF NEO V-Slice Port</strong> for Android & iOS [V3.0]</p>

  <img class="aligncenter" src="/images/fnf-neo-vslice-v-slice.webp" alt="FNF NEO V-Slice" width="450" height="250">

  <p><strong>FNF NEO</strong> is a well-known Friday Night Funkin' MOD that has a total of 5 complete weeks in its latest official version (3.0). Thanks to the V-Slice Port created by Kaua6000YT, we can enjoy all this content from Android or iOS, using the official version of FNF Mobile.</p>

  <p><strong>Friday Night Funkin' NEO</strong> is one of those MODs that everyone should try, as it has approximately 20 songs in total, in which we will face different opponents in its "NEO" version. All the characters and aesthetics of the MOD are adapted to its characteristic aesthetic. In addition, the MOD has multiple cutscenes and dialogues (not to mention all its custom menus). It should be noted that, despite having a wide variety of content, the port weighs in at just over 150MB.</p>

  <div class="download-buttons">
    <DownloadButton url="https://drive.google.com/file/d/1qua2rIu5mvfjxMRnyA25mwxvdhAL9CPr/view?usp=sharing" label="Download [Option 1]" />
    <DownloadButton url="https://mega.nz/file/jRZmFYrK#Ocv9vdztAwvX3Xj1MLubrWJ-MAS9PKTEe3j7dtmAyYk" label="Download [Option 2]" />
  </div>

  <p>Additionally, we have included the MOD in its APK version below for those who prefer it. It has the advantage that you don't have to install anything, just download, open, and play. It also includes <strong>all the content from version 3.0</strong>. The APK is about 350MB.</p>

  <div class="download-buttons">
    <DownloadButton url="https://www.mediafire.com/file/30vrffpw2zub0w8/FNF+NEO-debug.apk/file" label="Download APK" />
  </div>
</ModLayout>
