---
import ModLayout from '../layouts/ModLayout.astro';
import DownloadButton from '../components/DownloadButton.astro';

const title = "FNF VS Impostor 2025 V-Slice Port";
const seoTitle = "FNF VS Impostor V5 V-Slice Port - FNF Mobile [Android & iOS]";
const description = "Download FNF VS Impostor V5 V-Slice Port for Android & iOS [v2022 Full Week]";
---

<ModLayout title={title} seoTitle={seoTitle} description={description}>
  <p class="text-center"><strong>Download FNF VS Impostor V5 V-Slice Port</strong> for Android & iOS [v2022 Full Week]</p>

  <img class="aligncenter" src="/images/impostor-v5-v-slice.webp" alt="FNF VS Impostor V-Slice" width="450" height="253">

  <p><strong>FNF VS Impostor 2025</strong> is the official remake of one of the most popular MODs in the history of Friday Night Funkin'. Two years after the last original update of the MOD, the official team has decided to relaunch the MOD from scratch, improving all of its content.</p>

  <p>It should be noted that <strong>VS Impostor 2025</strong> is a completely new MOD, so it does not include all the content from the previous one, but rather totally new content. This means that we can now enjoy two different MODs: the old VS Impostor V4, which has become the Legacy version (and has much more content), and the <strong>new VS Impostor 2025</strong>, which, as it is being made from scratch, does not yet have as many songs and characters.</p>

  <p>In the new <strong>VS Impostor 2025</strong>, we can enjoy a new week in which we will face the red impostor throughout 3 songs. The MOD also includes a lot of additional details, such as custom menus and arrows, cinematics, and Easter eggs.</p>

  <h3>Download FNF VS Impostor 2025 / V4 (Legacy) V-Slice / APK</h3>
  <p>We have compiled the best options in different formats so you can choose the one that interests you most. Here are the links to the new 2025 version and the <strong>v4 Legacy in V-Slice</strong> format. In addition, we also offer both in APK format if you prefer that format.</p>

  <div class="download-buttons">
    <DownloadButton url="https://drive.google.com/file/d/1_ZSaH0GCDWeKHFnlpJ7OLefXNuSp34D1/view?usp=sharing" label="Download Legacy V-Slice [Option 1]" />
    <DownloadButton url="https://mega.nz/file/rQpXRYJL#GTbqXj47S5GM1JYrgPfLTAanGZrgrweyzA-3dVVQGn0" label="Download Legacy V-Slice [Option 2]" />
  </div>

  <div class="download-buttons">
    <DownloadButton url="https://drive.google.com/file/d/1-njkchYHbifICY4Cjd0RZ_BgJl4uDWfF/view?usp=sharing" label="Download v2025 V-Slice [Option 1]" />
    <DownloadButton url="https://mega.nz/file/yBAUkZja#jecM2vivSMzI8lwPQcNPv4-TMk2leYtF7AYoKtuV0BY" label="Download v2025 V-Slice [Option 2]" />
  </div>

  <div class="download-buttons">
    <DownloadButton url="https://mega.nz/file/IgZWzQzB#9AgRV8_I5DjNmCLRVnTBCI9y-STKPcZwxqETK8ecbcY" label="Download v2025 APK" />
    <DownloadButton url="https://www.mediafire.com/file/wqthi28k0zgs4n2/VS_IMPOSTOR_OPT_ANDROID%25281.11%2529.apk/file" label="Download v4 APK (Legacy)" />
  </div>
</ModLayout>
