---
import ModLayout from '../layouts/ModLayout.astro';
import DownloadButton from '../components/DownloadButton.astro';

const title = "FNF VS Shaggy V-Slice Port + Shaggy X Matt";
const seoTitle = "FNF VS Shaggy V-Slice Port + Shaggy X Matt [FNF Mobile]";
const description = "Download Friday Night Funkin' VS Shaggy 2.7 V-Slice Port for Android & iOS [Definitive Edition] + Shaggy X Matt";
---

<ModLayout title={title} seoTitle={seoTitle} description={description}>
  <p class="text-center"><strong>Download Friday Night Funkin' VS Shaggy 2.7 V-Slice Port</strong> for <strong>Android & iOS</strong> [Definitive Edition] + <strong>Shaggy X Matt</strong></p>

  <img class="aligncenter" src="/images/vs-shaggy-vslice-v-slice.webp" alt="VS Shaggy V-Slice Port" width="450" height="253">

  <p><strong>FNF VS Shaggy Ultimate</strong> is now available in a V Slice version that <strong>can be installed directly on the official version of FNF Mobile</strong>. Thanks to <strong>FoxyGameszzyx</strong>, the creator of the Port (and <strong>SR Perez</strong>, the creator of the original MOD), we can enjoy one of the most legendary MODs of Friday Night Funkin' from any Android or iOS device. It should be noted that this Port also includes the <strong>Shaggy X Matt MOD</strong>, which was also very popular in its day.</p>

  <div class="download-buttons">
    <DownloadButton url="https://drive.google.com/file/d/1JfaejkeFDyxFWq-hO4KkoKiD83kOeCwX/view?usp=sharing" label="Download [Option 1]" />
    <DownloadButton url="https://mega.nz/file/3J4RTQgL#w8ucdxQxRDrJNqXNFezWRZGdvFlIEQzno1UR70qzb-w" label="Download [Option 2]" />
  </div>

  <p><strong>VS Shaggy V-Slice Port</strong> is probably the most difficult MOD available on FNF Mobile today. This is because it is one of the few MODs that includes more than 4 arrows in some of its songs. In this case, we can enjoy songs with 4, 6, and 9 arrows. The difficulty will increase as we progress through the initial songs, until we reach the final battle with a total of 9 arrows at once.</p>

  <p>If we add another great release to this great MOD, such as <strong>Shaggy X Matt</strong>, which is another MOD that uses 9 arrows simultaneously, we can safely say that this is a "must play" for players looking for difficult challenges. In Shaggy X Matt, we can enjoy individual battles against Shaggy and Matt, ending with a battle against both at the same time.</p>

  <p>It's clear that this pack, which combines Shaggy Ultimate and <strong>Shaggy X Matt</strong> in the V-Slice version for FNF Mobile, is one of the titles that you can't miss on your Android or iOS device.</p>
</ModLayout>
